<a href="https://colab.research.google.com/github/SandyAtencio/Practica-variada-Python/blob/main/Practica_variada_de_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Tipos de datos**

In [ ]:
 a = 5 # intero --> int
 b = 'Manzana' # String --> str
 c = 15.7 # Float
 d = True # Boolean
 vacio = None # variable especial que se utiliza para simbolizar algo  vacio
 print(type(a))
 print(type(b))
 print(type(c))
 print(type(d))
 print(type(vacio))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>

**2. Conversion de tipo de datos a otro tipo**

In [ ]:
numeroA = 20
print(type(numeroA))

#Ahora quiero convertir numeroA a float y que no sea un int
numeroA = float(20)
print(type(numeroA))

#Ahora quiero convertir numeroA a string y que no sea un int
numeroA = str(20)
print(type(numeroA))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
# cambiar el tipo de variable 'numeroB' a float
numeroB = '10'

nuevoNumero = float(numeroB)

if type(nuevoNumero) is float:
  print('Correcto')
else:
  print('Incorrecto hacer la conversion')

Correcto

**3. Operaciones con numeros**

In [ ]:
x = 120
y = 3.8

print(x + y) # suma
print(x - y) # resta --> se puede realizar operaciones con distintos tipo de variable
print(x * 2) # multiplicacion
print(x ** 2) # exponenciacion de una variable
print(x % 10) # resto de la division
print(x / 2) # division

123.8
116.2
240
14400
0
60.0

**4. Operaciones con textos**

In [ ]:
textoUno = 'las cadenas'
textoDos = ' se pueden concatenar'
textoMultiplicado = 'cadena Multiplicada ' # las cadenas no se restan
print(textoUno +  textoDos)
print(textoMultiplicado * 3)

las cadenas se pueden concatenar
Texto Multiplicado Texto Multiplicado Texto Multiplicado

In [ ]:
# a las cadenas no se les puede agregar numeros, la unica forma
# para agregarselo seria convirtiendo el numero a string, veamos:
a = 'Mi edad es: '
b = 24
print(a + str(b))

Mi edad es: 24

In [ ]:
# objetivo: Armar la frase 'El gran gran gran gran gran castillo mide 50 metros.'
# con las siguientes variables
cad1 = 'gran '
cad2 = 'El '
cad3 = 'mide '
cad4 = ' metros'
numero = 50

fraseCompleta = cad2 + cad1* 5 + ' castillo' + cad3 + str(numero) + (cad4)
print(fraseCompleta)

El gran gran gran gran gran  castillomide 50 metros

**5. Operaciones logicas**

In [ ]:
varUno = True
varDos = False
print(varUno or varDos)
print(varUno and varDos)
print(not(varUno))

True
False
False

**6.Listas**

In [4]:
listaUno = ['a', 15, False, 8.0] # las listas pueden contener diferentes tipos de datos en su interior
print(listaUno)
print(len(listaUno)) # Aqui podemos ver el tamaño de la lista

print(listaUno[0]) # aqui accedemos al primer elemento de la lista (los indices de las listas
#empiezan por 0)

['a', 15, False, 8.0]
4
a

In [12]:
listaVocales = ['a', 'e', 'i', 'o', 'u']
print(listaVocales[1:3]) # aqui seleccionamos una porcion de la lista

['e', 'i']
[1, ['a', 'e', 'i', 'o', 'u'], 'Manzana']
['primer item']
['a', 'b', 'c']

In [13]:
listaNum = [1, listaVocales, 'Manzana'] # las listas pueden contener en su interior
# otras listas y estas cuentan como un indice de las mismas
print(listaNum)

[1, ['a', 'e', 'i', 'o', 'u'], 'Manzana']

In [14]:
listaVacia = []
listaVacia.append('primer item') # podemos crear listas vacias y luego con .append
# podemos agregar elementos en su interior
print(listaVacia)

['primer item']

In [16]:
#objetivo: Defina una lista vacia llamada 'lista_nueva'
# y agréguele (append()) los elementos a, b y c

a = 15
b = 'Fresa'
c = [20, 15, 99, 96]
lista_nueva = []
lista_nueva.append(a)
lista_nueva.append(b)
lista_nueva.append(c)
print(lista_nueva)

[15, 'Fresa', [20, 15, 99, 96]]

**7.Loops**

In [17]:
listaDeporte = ['Futbol', 'Tenis', 'Ajedrez', 'Basketball', 'Ciclismo']

for item in listaDeporte:
  print(item)

Futbol
Tenis
Ajedrez
Basketball
Ciclismo

In [18]:
# aqui tomaremos la lista de la celda anterior, pero agregaremos 
# una variable i que cuenta la cantidad de veces que se corre el codigo

listaDeporte = ['Futbol', 'Tenis', 'Ajedrez', 'Basketball', 'Ciclismo']

# la inicializams en 0
i = 0
for item in listaDeporte:
  # cada vez que entra aqui le sumamos un 1
  i = i + 1 # tambien se puede hacer asi:  i += 1
  print(item)

Futbol
Tenis
Ajedrez
Basketball
Ciclismo

In [ ]:
frutas = ['Manzana', 'Pera', 'Mango']
for fruta in frutas:
  print(fruta)

Manzana
Pera
Mango

In [19]:
nombres = ['Daniela', 'Vanessa', 'Pedro']
listaNueva = []

for nom in nombres:
  frase = 'Mi nombre es: ' + nom
  listaNueva.append(frase)

print(listaNueva)

['Mi nombre es: Daniela', 'Mi nombre es: Vanessa', 'Mi nombre es: Pedro']

In [ ]:
contador = 0
while contador < 10:
  print(contador)
  contador += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
contador_externo = 0
contador_interno = 0

while contador_externo < 5:
  while contador_interno < 6:
    print(contador_externo, contador_interno)
    contador_interno += 1

    if contador_interno >= 3:
      break
    contador_externo += 1
  contador_interno = 0

0 0
1 1
2 2
2 0
3 1
4 2
4 0
5 1
6 2

**8. Condicionales**

In [ ]:
num_1 = int(input('Escoge un entero: '))
num_2 = int(input('Escoge otro entero: '))

if num_1 > num_2:
  print('El primer numero es mayor que el segundo')
elif num_1 < num_2:
  print('El segundo numero es mayor que el primero')
else:
  print('Los dos numeros son iguales')

Escoge un entero: 5
Escoge otro entero: 3
El primer numero es mayor que el segundo

In [ ]:
user_1 = int(input('user 1, ingrese su edad: '))
user_2 = int(input('user 2, ingrese su edad: '))

if user_1 > user_2:
  print('user 1 es mayor que user 2')
elif user_1 < user_2:
    print('user 2 es mayor que user 1')
else:
  print('los dos users tienen la misma edad')

user 1, ingrese su edad: 20
user 2, ingrese su edad: 40
user 2 es mayor que user 1

**9.Iterables**

Un iterator es un objeto que regresa sucesivamente los valores asociados con el iterable.

In [ ]:
iter('Cadena') #cadena
iter(['a','b','c']) #lista
iter(('a','b','c')) #tupla
iter({'a','b','c'}) #conjunto
iter({'a':1, 'b':2, 'c':3}) # diccionario

In [ ]:
frutas = ['Manzana', 'Pera', 'Mango']
iterador = iter(frutas)
next(iterador)

'Manzana'

In [ ]:
next(iterador)

'Pera'

In [ ]:
next(iterador)

'Mango'

**10. Diccionarios**

In [ ]:
estudiantes = {
    'Mexico': 10,
    'Colombia': 15,
    'Puerto rico': 4,
}

for pais in estudiantes:
  print(pais)

Mexico
Colombia
Puerto rico

In [ ]:
for numero_de_estudiantes in estudiantes.values():
  print(numero_de_estudiantes)

10
15
4

In [ ]:
for pais, numero_de_estudiantes in estudiantes.items():
  print(pais,numero_de_estudiantes)

Mexico 10
Colombia 15
Puerto rico 4

**11.Funciones**

In [20]:
def nombre_completo(nombre, apellido, inverso = False):
  """ Recibe el nombre completo de una persona
      param object nombre cualquier cadena
      param object apellido cualquier cadena
      param Boolean inversor True o False
      return nombre completo al derecho y al inverso
  """
  if inverso:
    return f'{apellido} {nombre}'
  else:
    return f'{nombre} {apellido}'

nombre_completo('Maria','Lopez', inverso = True)

'Lopez Maria'